* {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

#gameContainer {
  text-align: center;
  display: flex;
  width: 100%;
}

#diceContainer {
  background: blue;
}

#diceImage {
  width: 100%;
}

#player1Div,
#player2Div {
  margin: auto;
  background: yellow;
}

/* MAKE THIS THE DEFAULT STYLING 

for phone view make it so the dice is on 
the top and the scores are below but on the 
same line as each other */

/* Using media screen set the size 
for anything bigger than a phone to 
be everything on one line but spaced 
nicely */
