* {
  padding: 0;
  margin: 0;
}

body {
  width: fit-content;
}

.hidden {
  display: none;
}

#gameContainer {
  text-align: center;
  display: flex;
  width: fit-content;
  margin: auto;
}

#diceContainer {
  height: 10em;
  width: fit-content;
  margin: auto;
  display: block;
}

#diceImage {
  width: 100%;
}

#player1Div,
#player2Div {
  height: 10em;
  width: fit-content;
  margin: auto;
  border: 1px black solid;
  border-radius: 25px;
}

#player1Div {
  background: yellow;
}

#player2Div {
  background: blue;
}

.playerTitle {
  margin: 25px;
}

button {
  border: 1px black solid;
  border-radius: 10px;
}

@media screen and (min-width: 800px) {
}

/* MAKE THIS THE DEFAULT STYLING 

for phone view make it so the dice is on 
the top and the scores are below but on the 
same line as each other */

/* Using media screen set the size 
for anything bigger than a phone to 
be everything on one line but spaced 
nicely */
